.navbar{
  background:#fff;
  padding: 0 1.6rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.08);
}
.link{
  color: #000;
}
.site-logo{
  width: 200px;
}
.banner-area{
  margin-top: 60px;
  background-image: url(../../images/hero-banner.jpg);
  background-repeat: none;
  background-position: center;
  background-size: cover;
}
.banner-content{
  display: flex;
  flex-direction: column;
  width: 367px;
  padding: 2.4rem;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.08),0 4px 12px rgba(0,0,0,0.08);
  
}
.banner-content h1{
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
}

.submit-btn{
  margin-top: 10px;
  padding: 5px 16px;
  border: 1px solid #4c4db7;
  text-transform: uppercase;
}
